{{ block "board" .}}
<div
  class="border-4 border-[#10865E] rounded"
  id="board"
  hx-get="/refresh-board"
  hx-swap="outerHTML"
  hx-trigger="load delay:1000ms"
>
  <div
    class="w-[720px] h-[720px] shadow-lg text-sm flex flex-wrap"
  >
    {{ range .Squares}}
      {{ template "square" . }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ block "square" . }}
<div
  id="square-{{ .Num }}"
  class="square w-[90px] h-[90px] relative {{ if .IsBlack }} bg-[#10865E] text-[#FFEAC1] {{ else }} bg-[#FFEAC1] text-[#10865E] {{ end }} bg-[length:80%_80%] bg-no-repeat bg-center bg-scal"
  {{ if .Piece }}
    {{ if .Piece.IsBlack }}
      {{ if eq .Piece.Type 0 }}
        style="background-image: url('static/pieces/pawn-b.svg')"
      {{ else if eq .Piece.Type 1 }}
        style="background-image: url('static/pieces/rook-b.svg')"
      {{ else if eq .Piece.Type 2 }}
        style="background-image: url('static/pieces/knight-b.svg')"
      {{ else if eq .Piece.Type 3 }}
        style="background-image: url('static/pieces/bishop-b.svg')"
      {{ else if eq .Piece.Type 4 }}
        style="background-image: url('static/pieces/queen-b.svg')"
      {{ else if eq .Piece.Type 5 }}
        style="background-image: url('static/pieces/king-b.svg')"
      {{ end }}
    {{ else }}
      {{ if eq .Piece.Type 0 }}
        style="background-image: url('static/pieces/pawn-w.svg')"
      {{ else if eq .Piece.Type 1 }}
        style="background-image: url('static/pieces/rook-w.svg')"
      {{ else if eq .Piece.Type 2 }}
        style="background-image: url('static/pieces/knight-w.svg')"
      {{ else if eq .Piece.Type 3 }}
        style="background-image: url('static/pieces/bishop-w.svg')"
      {{ else if eq .Piece.Type 4 }}
        style="background-image: url('static/pieces/queen-w.svg')"
      {{ else if eq .Piece.Type 5 }}
        style="background-image: url('static/pieces/king-w.svg')"
      {{ end }}
    {{ end }}
  {{ end }}
>
  <div class="absolute px-3 py-2">{{ .Num }}</div>
  {{ if .IsActive }}
    <div class="absolute w-full h-full duration-100 bg-sky-400 bg-opacity-70 cursor-pointer"></div>
  {{ else }}
    <div
      id="hover-{{ .Num }}"
      class="square-hover absolute w-full h-full duration-100 hover:border-4 border-sky-400 cursor-pointer"
      hx-post="/select-square/{{ .Num }}"
      hx-swap="outerHTML"
      hx-target="#board"
    ></div>
  {{ end }}
</div>
{{ end }}
