{{ block "sidebar" .}}
<div
  class="h-[728px] w-[400px] p-4 bg-neutral-200 rounded shadow border-4 border-neutral-300 flex flex-col gap-4 overflow-scroll"
>
  {{ template "stats" . }}
  <div
    class="text-xs bg-red-900 text-neutral-100 px-2 py-1 rounded"
    hx-get="/fen"
    hx-trigger="load"
  ></div>


  <button
    class="px-4 py-2 bg-neutral-700 text-neutral-100 rounded duration-100 hover:bg-neutral-800"
    hx-delete="/remove-active"
    hx-trigger="click"
    hx-swap="outerHTML"
    hx-target="#board"
  >
    Clear selection
  </button>

  <button
    class="px-4 py-2 bg-neutral-700 text-neutral-100 rounded duration-100 hover:bg-neutral-800"
    hx-delete="/clear-board"
    hx-trigger="click"
    hx-swap="outerHTML"
    hx-target="#page"
  >
    Clear board
  </button>

  <button
    class="px-4 py-2 bg-neutral-700 text-neutral-100 rounded duration-100 hover:bg-neutral-800"
    hx-delete="/reset-board"
    hx-trigger="click"
    hx-swap="outerHTML"
    hx-target="#page"
  >
    Reset board
  </button>

  <form
    class="flex flex-col gap-4"
    hx-post="/set-fen"
    hx-target="#page"
    hx-swap="outerHTML"
  >
    <input
      type="text"
      class="border-2 border-neutral-300 rounded px-2 py-1"
      placeholder="fen string"
      name="fen"
    ></input>
    <button
      class="px-4 py-2 bg-neutral-700 text-neutral-100 rounded duration-100 hover:bg-neutral-800"
      type="submit"
    >
      Update position
    </button>
  </form>
</div>
{{ end }}
